*
{
    font-family: "Gill Sans", sans-serif;
}
.active
{
    font-weight: bold;
    color: black;
    border-right: solid black 2px;
}
.active1
{
    font-weight: bold;
    color: black;
    
}
body
{
    margin: 0;
    display: grid;
    grid-template-rows: 15vh auto 15vh;
    grid-template-areas: "header"
                         "main"
                         "footer";
}

/*  Header */

.header
{
    grid-area: header;
    padding: 2vh;
    display: grid;
    grid-template-rows: 10vh;
    grid-template-areas: "header_part1 header_part2";
}
.header_part1
{
    grid-area: header_part1;
}
.header_part2
{
    grid-area: header_part2;
    text-align: right;
    word-spacing: 30px;
}

/*  Main */

.main
{
    margin-left: 30vh;
    grid-area: main;
    padding: 15vh;
    display: grid;
    grid-template-columns: 1fr  2fr;
   
    grid-template-areas: "main_part1 main_part2";
}
.main_part1
{
    
    grid-area: main_part1;
}
.main_part2
{
    
    grid-area: main_part2;
    display: grid;
    grid-template-areas: "div1 div2"
                         "R1 R2"
                         "div3  div4"
                         "R3 R4"
                         "div5  div6";
    width: 500px;
    
    
}
#f1
{
    height: 40px;
}
#f2
{
    height: 40px;
}
#t1
{
    height: 70px;
}
#t2
{
    height: 70px;
}
#t3
{
    height: 70px;
}
#t4
{
    height: 70px;
}
#R1,#R2,#R3,#R4
{
    height: 20px;
}
button
{
    margin-top: 40px;
    width: 150px;
    height: 150px;
    border-radius: 500px;
    background-color: #F4D03F;
    font-weight: bold;
}
input
{
    height: 35px;
    width: 200px;
}
.main_part1
{
    grid-area: main_part1;

}



li
{
    display: inline-block;
}
a
{
    color: black;
    text-decoration: none;
}

.li1
{
    border-right: solid black 1px;
    padding-right: 30px;
}

/*  Footer */

.footer
{
    grid-area: footer;


    display: grid;
    grid-template-areas: "footer_part1 footer_part2 footer_part3 footer_part4";
    margin-left: 100px;
    margin-right: 120px;
    border-top: solid 1px #AEB6BF;
    font-size: 15px;
}
.icon
{
    display: grid;
    grid-template-columns: 30px 30px 30px;
    grid-template-areas: "icon_icon1 icon_icon2 icon_icon3";
}
.icon_icon1
{
    grid-area: icon_icon1;
    background-image: url("../images/instagram.jpg");
    background-size: cover;
    width: 25px;
    height: 25px;
    
}
.icon_icon2
{
    grid-area: icon_icon2;
    background-image: url("../images/in.jpg");
    background-size: cover;
    width: 25px;
    height: 25px;
    
}
.icon_icon3
{
    grid-area: icon_icon3;
    background-image: url("../images/twiter.png");
    background-size: cover;
    width: 25px;
    height: 25px;
    
}

@media (max-width:900px) 
{
    body
    {
       margin: 0;
       display: grid;
       grid-template-rows: auto auto auto;
       grid-template-areas: "header"
                         "main"
                         "footer";
    }
    .main
    {
        padding: 0;
        margin-left: 2vh;
        display: grid;
        grid-template-columns: auto;
        grid-row: auto auto;
        grid-template-areas: "main_part1"
                             "main_part2";
       
    }
    .main_part1
    {
        text-align: center;
    }
    .main_part2
    {
        
        grid-area: main_part2;
        display: grid;
        grid-template-areas: "div1 div2"
                             "R1 R2"
                             "div3  div4"
                             "R3 R4"
                             "div5  div6";
        width: 0px;
        
        
    }
   
   
    .footer
    {

    text-align: center;
    grid-area: footer;

    display: grid;
    grid-template-areas: "footer_part1"
                         "footer_part2"
                         "footer_part3"
                         "footer_part4";
    margin-left: 0px;
    margin-right: 0px;
    border-top: solid 1px #AEB6BF;
    font-size: 15px;
    }
    .icon
    {
        display: flex;
        justify-content: center;
    }
}
@media (max-width:800px) 
{
   
 
}
@media (max-width:760px) 
{

    
    .footer
    {
        font-size: 11px;
    }
    .main_part2
    {
      
  
        grid-area: main_part2;
        display: grid;
        grid-template-columns: auto;
        grid-template-areas: "div1"
                             "div2"
                             "div3"
                             "div4"
                             "div5"
                             "div6";
        width: 0px;
        
        
    }
}
@media (max-width:600px) 
{

    
    .footer
    {

    text-align: center;
    grid-area: footer;


    display: grid;
    grid-template-areas: "footer_part1"
                         "footer_part2"
                         "footer_part3"
                         "footer_part4";
    margin-left: 0px;
    margin-right: 0px;
    border-top: solid 1px #AEB6BF;
    font-size: 15px;
    }

    .header
    {
        text-align: center;
        grid-area: header;
        padding: 2vh;
        display: grid;
        grid-template-rows: auto;
        grid-template-areas: "header_part1"
                             "header_part2"; 
    }
    .header_part2
    {
    
        text-align: center;
    }
}